<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <!-- Link Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <!-- Link CSS -->
    <link rel="stylesheet" href="style/style.css">
</head>

<body>

    <!-- Root for Vuejs -->
    <div id="root">

        <!-- Main window of the app -->
        <div class="window_app">

            <!-- Sidebar with functions & chats -->
            <div class="sidebar">

                <div class="flex_row nav_functions">

                    <div>
                        <img src="img/avatar_io.jpg" alt="avatar_io">
                        <span class="name">Cristina</span>
                    </div>

                    <div class="buttons">
                        <button><i class="fa-solid fa-circle-notch"></i></button>
                        <button><i class="fa-solid fa-message"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>

                </div>

                <div class="nav_notifications">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#!">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="nav_search">
                    <input type="search" v-model="contactSearch" @keyup="contactFilter"
                        placeholder=" Cerca o inizia una nuova chat">
                </div>

                <div class="chats">

                    <div v-for="(element, index) in contacts" v-if="element.visible" class="chat"
                        @click="chatSelected(index)" :class="chatOpened === index ? 'selected_contact' : ''">
                        <img :src="'img/avatar' + element.img + '.jpg'" alt="'avatar' + element.img">
                        <div class="text">
                            <div class="flex_row">
                                <span class="name">{{ element.name }}</span>
                                <span class="time">{{ element.chat[element.chat.length-1].messageTime }}</span>
                            </div>
                            <p class="last_msg_sent">{{ element.chat[element.chat.length-1].message }}</p>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Chat area with chat infos & text -->
            <div class="chat_area">


                <!-- Chat header -->

                <div v-for="(element, index) in contacts" class="flex_row nav_chat"
                    :class="chatOpened === index ? 'chat_opened' : ''">

                    <div class="user">
                        <img :src="'img/avatar' + element.img + '.jpg'" :alt="'avatar' + element.img">
                        <div>
                            <p class="name">{{ element.name }}</p>
                            <p class="time">{{ element.lastAccess }}</p>
                        </div>
                    </div>

                    <div class="buttons">
                        <button><i class="fa-solid fa-magnifying-glass"></i></button>
                        <button><i class="fa-solid fa-paperclip"></i></button>
                        <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    </div>

                </div>


                <!-- Chat body -->

                <div v-for="(element, index) in contacts" class="chat_msg_body"
                    :class="chatOpened === index ? 'active_chat' : ''">

                    <div v-for="(msg, index) in element.chat" class="msg_box"
                        :class="msg.type == 'sent' ? 'msg_sent' : 'msg_received'">
                        <p>{{ msg.message }}</p>
                        <p class="msg_time">{{ msg.messageTime }}</p>
                        <i @click="toggleActive(index)" :class="msg.dropActive == true ? 'drop_inactive' : ''"
                            class="fa-solid fa-chevron-up"></i>
                        <i @click="toggleActive(index)" :class="msg.dropActive == true ? 'drop_active' : ''"
                            class="fa-solid fa-chevron-down"></i>
                        <p :class="msg.dropActive == true ? 'drop_active' : ''" class="dropdownDelete">Elimina</p>
                    </div>

                </div>

                <!-- Chat footer -->

                <div v-for="(element, index) in contacts" class="footer_chat"
                    :class="chatOpened === index ? 'active_chat' : ''">
                    <button><i class="fa-regular fa-face-smile"></i></button>
                    <input type="text" v-model="newMessage" @keyup.enter="sendMessage"
                        placeholder="Scrivi un messaggio">
                    <button><i class="fa-solid fa-microphone"></i></button>
                </div>
            </div>

        </div>











    </div>




    <!-- Scrip VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Script -->
    <script src="script/script.js"></script>
</body>

</html>